* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* autoprefixer({ grid: true }) */

h1, h2, h3 {
  text-align: center;
  padding: 20px 0;
}

p {
  text-align: center;
}

.container {
  display: grid;
    -ms-display: grid;

  width: 90vw;
  grid-template-columns: 1fr;
    -ms-grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 200px;
    -ms-grid-template-rows: 100px 1fr 200px;
  /* grid-gap: 10px; */

  grid-template-areas:
    "head"
    "wrap"
    "form";
}

.heading { grid-area: head; }
.wrapper { grid-area: wrap }

img {
  width: 100%;
  padding: 0 20px;
}

.awesome-center {
  padding: 0;
  margin: 20px auto;
}

form input,
form textarea {
  width: 85%;
  padding: 10px 10px;
  margin: 10px 20px;
}
form input {
  height: 20px;
}



/*=================================*/
@media screen and (min-width:576px) {
  .wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
      -ms-grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px auto 200px;
      -ms-grid-template-rows: 100px auto 200px;
    grid-gap: 50px;

    width: 80vw;
    margin: 10px auto;

    grid-template-areas:
      "one two three"
  }

  .awesome-1 { grid-area: one; }
  .awesome-2 { grid-area: two; }
  .awesome-3 { grid-area: three; }

  img {
    width: 100%;
    padding: 0;
  }

  .awesome{
    outline: 1px solid #E5E5E5;
    outline-offset: 5px;
  }

  .form-center {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  form input,
  form textarea {
    width: 40vw;
  }
}
